spring:
  datasource:
    url: jdbc:h2:file:./password-manager
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update

logging:
  level:
    org.springframework: INFO