body {
	background-color: black;
	color: white;
	font: 24px "Century Gothic", Futura, sans-serif;
}

.pageWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.pageHeader {
	background-color: #6A0279;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.pageHeader #username {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
}

.pageHeader .nav {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
}

.pageHeader .nav ul {
	margin: 0;
}

.pageHeader .nav ul li {
	display: inline;
}

.pageFooter {
    background-color: #6A0279;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

.pageFooter #qr {
	display: inline;
}

.pageFooter #secret {
	display: inline;
	vertical-align: top;
}

.pageContent {
	width: 100%;
	position: fixed;
	top: 40px;
	left: 0px;
	text-align: center;
}

table {
	background-color: #333333;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

td {
	padding: 5px;
}

th {
	padding: 5px;
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: white;
	border-style: solid;
}

tr.footer td {
	border-bottom: 0px;
	border-top: 2px;
	border-left: 0px;
	border-right: 0px;
	border-color: white;
	border-style: solid;
	text-align: center;
}

tr.footer td button, tr.footer td p {
	display: inline;
	padding: 10px;
}

.login-form {
	width: 75%;
	min-width: 300px;
	max-width: 750px;
	height: 300px;
	margin: auto;
	text-align: center;
	border-color: #6A0279;
	border-style: solid;
	border-width: 4px;
	border-radius: 8px;
	/* display: inline-block; */
}

.login-form hr {
	color: #6A0279;
	border-color: #6A0279;
	background-color: #6A0279;
	border-width: 2px;
	border-style: solid;
	border-radius: 8px;
	margin: 10px 10px 20px 10px;
}

a {
	text-align: center;
	width: 80%;
	min-width: 250px;
	max-width: 400px;
	display: block;
	font-size: 24px;
	border-radius: 4px;
	border-style: none;
	padding: 5px 12px 5px 12px;
	margin: auto;
	margin-top:10px;
	text-decoration: none;
}

a span {
	font-weight: bold;
}