<html>
<head>
	<title>Password Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<link type="text/css" rel="stylesheet" href="./static/passwordmanager.css" />
	<script src="./static/api.js"></script>
</head>
<body>
	<div class="pageWrapper">
	  <div class="pageHeader">
	    <h3 id="username"></h3>
	    <div class="nav">
	      <ul>
	        <li><button id="resetsecret">RESET SECRET</button></li>
	        <li><button id="logout">LOGOUT</button></li>
	      </ul>
	    </div>
	  </div>
	  <div class="pageContent">
	    <BR>
	    <div id="saveCredentials">
	      <table>
	      	  <tr>
	            <td><label for="service">SERVICE</label></td>
	            <td><input type="text" id="service" name="service"></input></td>
	          </tr>
	          <tr>
	            <td><label for="serviceusername">USERNAME</label></td>
	            <td><input type="text" id="serviceusername" name="serviceusername"></input></td>
	          </tr>
	          <tr>
	            <td><label for="password">PASSWORD</label></td>
	            <td><input type="password" id="password" name="password"></input></td>
	          </tr>
	          <tr>
	            <td colspan="2" align="center"><input type="button" id="saveCredentialsButton" value="SAVE CREDENTIALS"></input></td>
	          </tr>
	      </table>
	    </div>
	    <BR>
	    <div id="credentials"></div>
	  </div>
	  <div class="pageFooter">
	    <img id="qr" src="./api/user/qr"/>
	    <h3 id="secret"></h3>
	  </div>
	</div>
    <script src="./static/home.js"></script>
</body>
</html>