<html>
<head>
	<title>Password Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<link type="text/css" rel="stylesheet" href="./static/passwordmanager.css" />
	<script src="./static/passwordmanager.js"></script>
</head>
<body>
	<div class="pageWrapper">
	  <div class="pageHeader">
	    <h3 id="username"></h3>
	    <div class="nav">
	      <ul>
	        <li><button id="resetsecret">RESET SECRET</button></li>
	        <li><button id="logout">LOGOUT</button></li>
	      </ul>
	    </div>
	  </div>
	  <div class="pageContent">
	  </div>
	  <div class="pageFooter">
	    <img id="qr" src="./api/user/qr"/>
	    <h3 id="secret"></h3>
	  </div>
	</div>
	<script>
	  getUserDetails( function( details ) {
	  	    document.getElementById("username").innerHTML = details.username;
	    	document.getElementById("secret").innerHTML = details.secret;
	  } );
	  document.getElementById("resetsecret").addEventListener('click', function() {
	    resetSecret( function() {
	      getUserDetails( function( details ) {
	    	document.getElementById("secret").innerHTML = details.secret;
	      } );
	      var qr = document.getElementById("qr");
	      var timestamp = new Date().getTime(); 
	      qr.src = "./api/user/qr?timestamp="+timestamp;
	    } );
	  }, false);
	  document.getElementById("logout").addEventListener('click', function() {
	    window.location.href="./logout";
	  }, false);
	</script>
</body>
</html>